:root {
  --background-color: #0a0119;
  --primary-color: #ffb742;
  --text-white: #f9f5ff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-white);
}

main {
  width: 100%;
  max-width: 1300px;
}
