.button {
  color: var(--text-white);
  font-size: 2rem;
  font-weight: 500;

  padding: 1.2rem 9.2rem;
  border: none;
  border-radius: 30px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  background-color: var(--primary-color);
}

.button:hover {
  background-color: var(--btn-hover);
}

/* Responsividade */
@media (max-width: 1240px) {
  .button {
    font-size: 1.6rem;
    padding: 10px 29px;
  }
}

@media (max-width: 540px) {
  .button {
    font-size: 1.3rem;
    padding: 8px 23px;
  }
}
/* - - - - - Mobile Pequeno - - - - */
@media (max-width: 470px) {
  .button {
    font-size: 1.1rem;
    padding: 7px 19px;
  }
}
